@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@300;400;500;600;700&display=swap');

.stream-wrapper {
     margin-top: 10px;
     margin-bottom: 1rem;
     font-family: "Courier New", Courier, monospace;
     font-size: 1rem;
     padding: 1rem;
     background-color: #1e1e1e;
     color: #f8f8f2;
     border-radius: 10px;
     border: 1px solid #444;
     border-radius: 8px;
     white-space: pre-wrap;
     overflow-wrap: break-word;
     position: relative;
     box-shadow: 0 0 10px rgba(138, 43, 226, 0.3)
}
   
.cursor {
     background-color: #f8f8f2;
     animation: blink 1s step-end infinite;
}
   
@keyframes blink {
     from, to {
          opacity: 0;
     }
     50% {
          opacity: 1;
     }
}
   
.spinner {
     border: 3px solid #6F41F2;
     border-top: 3px solid #1ebeff;
     border-radius: 50%;
     width: 20px;
     height: 20px;
     animation: spin 0.6s linear infinite;
     position: absolute;
     top: -30px;
     left: 0;
}
   
@keyframes spin {
     to {
       transform: rotate(360deg);
     }
}
   